<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ruiwen.onehouse">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".secondLevel"
            android:label="@string/title_activity_second_level"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".seconLevelPhysics"
            android:label="@string/title_activity_secon_level_physics"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".thridLevelGeometry"
            android:label="@string/title_activity_thrid_level_geometry"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".rectangleDef"
            android:label="@string/title_activity_rectangle_def"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".triangleDef"
            android:label="@string/title_activity_triangle_def"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".circleDef"
            android:label="@string/title_activity_circle_def"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".circumC"
            android:label="@string/title_activity_circum_c"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".volumnRS"
            android:label="@string/title_activity_volumn_rs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".volumnCy"
            android:label="@string/title_activity_volumn_cy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".surfaceAreaCy"
            android:label="@string/title_activity_surface_area_cy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".thirdLevelElectricity"
            android:label="@string/title_activity_third_level_electricity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".thirdLevelMachnics"
            android:label="@string/title_activity_third_level_machnics"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".volumeS"
            android:label="@string/title_activity_volume_s"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".surfaceAreaAS"
            android:label="@string/title_activity_surface_area_as"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ArcLength"
            android:label="@string/title_activity_arc_length"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>