<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ruiwen.onehouse">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".secondLevel"
            android:label="@string/title_activity_second_level"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".seconLevelPhysics"
            android:label="@string/title_activity_secon_level_physics"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".thridLevelGeometry"
            android:label="@string/title_activity_thrid_level_geometry"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".rectangleDef"
            android:label="@string/title_activity_rectangle_def"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".triangleDef"
            android:label="@string/title_activity_triangle_def"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".circleDef"
            android:label="@string/title_activity_circle_def"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".circumC"
            android:label="@string/title_activity_circum_c"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".volumnRS"
            android:label="@string/title_activity_volumn_rs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".volumnCy"
            android:label="@string/title_activity_volumn_cy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".surfaceAreaCy"
            android:label="@string/title_activity_surface_area_cy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".thirdLevelElectricity"
            android:label="@string/title_activity_third_level_electricity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".thirdLevelMachnics"
            android:label="@string/title_activity_third_level_machnics"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".momentFD"
            android:label="@string/title_activity_moment_fd"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".velocityDcTc"
            android:label="@string/title_activity_velocity_dc_tc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".velocityIVAT"
            android:label="@string/title_activity_velocity_ivat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".velocitySquare"
            android:label="@string/title_activity_velocity_square"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".accelerationVcTc"
            android:label="@string/title_activity_acceleration_vc_tc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".distanceIVVT"
            android:label="@string/title_activity_distance_ivvt"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".distanceIVAT"
            android:label="@string/title_activity_distance_ivat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".forceMA"
            android:label="@string/title_activity_force_m"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".workFDC"
            android:label="@string/title_activity_work_fdc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".energyMV"
            android:label="@string/title_activity_energy_mv"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".energyHG"
            android:label="@string/title_activity_energy_hg"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".powerFV"
            android:label="@string/title_activity_power_fv"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".powerWcTc"
            android:label="@string/title_activity_energy_wc_tc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".efficientUopIp"
            android:label="@string/title_activity_efficient_uop_ip"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".volumeS"
            android:label="@string/title_activity_volume_s"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".surfaceAreaAS"
            android:label="@string/title_activity_surface_area_as"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ArcLength"
            android:label="@string/title_activity_arc_length"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChargeCurrentTime"
            android:label="@string/title_activity_charge_current_time"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VoltageWorkCharge"
            android:label="@string/title_activity_voltage_work_charge"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OhmsLaw"
            android:label="@string/title_activity_ohms_law"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EMF"
            android:label="@string/title_activity_emf"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EMF2"
            android:label="@string/title_activity_emf2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Resisitivity"
            android:label="@string/title_activity_resisitivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Resistivity"
            android:label="@string/title_activity_resistivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Power"
            android:label="@string/title_activity_power"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Power2"
            android:label="@string/title_activity_power2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AC"
            android:label="@string/title_activity_ac"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AV"
            android:label="@string/title_activity_av"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".secondlevelStatistic"
            android:label="@string/title_activity_secondlevel_statistic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Average"
            android:label="@string/title_activity_average"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sd"
            android:label="@string/title_activity_sd"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>